In [1]:
import pandas as pd

In [35]:
### https://www.federalreserve.gov/econres/scfindex.htm

path = '~/Downloads/SCFP2019.csv'
data = pd.read_csv(path)

In [36]:
pd.options.display.max_columns = 1000

In [39]:
cols = ['YY1','RACE','NETWORTH','WGT']
df = data[cols]
df['WGTNETWORTH'] = df['WGT']*df['NETWORTH']/5

<ipython-input-39-d74196d10b3c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['WGTNETWORTH'] = df['WGT']*df['NETWORTH']/5

In [40]:
df.groupby('RACE').median()

       YY1  NETWORTH          WGT   WGTNETWORTH
RACE
1     2927  408100.0  4524.129671  3.096206e+08
2     2937   16700.0  5341.640136  1.529870e+07
3     2870   39850.0  5326.464676  2.763595e+07
5     2597  405200.0  4773.495748  2.981943e+08

In [41]:
df.shape

(28885, 5)